# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test

#Pangolin
Pangolin/.DS_Store
Pangolin/CMakeLists.txt.user
Pangolin/build*

#ORBSLAM
ORB_SLAM2/CMakeLists.txt.user
ORB_SLAM2/Examples/Monocular/mono_euroc
ORB_SLAM2/Examples/Monocular/mono_kitti
ORB_SLAM2/Examples/Monocular/mono_tum
ORB_SLAM2/Examples/RGB-D/rgbd_tum
ORB_SLAM2/Examples/ROS/ORB_SLAM2/CMakeLists.txt.user
ORB_SLAM2/Examples/ROS/ORB_SLAM2/Mono
ORB_SLAM2/Examples/ROS/ORB_SLAM2/MonoAR
ORB_SLAM2/Examples/ROS/ORB_SLAM2/RGBD
ORB_SLAM2/Examples/ROS/ORB_SLAM2/Stereo
ORB_SLAM2/Examples/ROS/ORB_SLAM2/build/
ORB_SLAM2/Examples/Stereo/stereo_euroc
ORB_SLAM2/Examples/Stereo/stereo_kitti
ORB_SLAM2/KeyFrameTrajectory.txt
ORB_SLAM2/Thirdparty/DBoW2/build/
ORB_SLAM2/Thirdparty/DBoW2/lib/
ORB_SLAM2/Thirdparty/g2o/build/
ORB_SLAM2/Thirdparty/g2o/config.h
ORB_SLAM2/Thirdparty/g2o/lib/
ORB_SLAM2/Vocabulary/ORBvoc.txt
ORB_SLAM2/build/
ORB_SLAM2/*~
ORB_SLAM2/lib/

#Output files
V1_01_easy/*
build/*

